<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-xl-12">
            <h1 class="page-header">
                Charts
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>
                    <a href="Javascript:void(0)" routerLink="/dashboard/home" > Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-fw fa-bar-chart-o"></i> High Chart
                </li>
            </ol>
        </div>
    </div>
    

    <div>
      <div style="display: block; width: 60%; margin: 20px auto;">
        <canvas baseChart class="chart"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [legend]="barChartLegend"
                [chartType]="barChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
      </div>
      <button (click)="randomize()">Update</button>
    </div>


</div>