<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">
                User Admin
            </h2>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="Javascript:void(0)" routerLink="/dashboard/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-user"></i> User Admin
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
<table class="table table-hover table-outline mb-0 hidden-sm-down userAdmin_table">
            <thead class="thead-default">
              <tr>
                <th class="text-center"><i class="fa fa-user"></i></th>
                <th>User</th>
                <th class="text-center">Edit User</th>
                <th class="text-center">Delete User</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/1.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/1.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Yiorgos Avraamu</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
                  <i class="fa fa-pencil color_success"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-trash-o color_danger"></i>
                </td>                
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/2.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/2.jpg">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>Avram Tarasios</div>
                  <div class="small text-muted">

                    <span>Recurring</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
                  <i class="fa fa-pencil color_success"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-trash-o color_danger"></i>
                </td> 
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/3.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/3.jpg">
                    <span class="avatar-status badge-warning"></span>
                  </div>
                </td>
                <td>
                  <div>Quintin Ed</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
                  <i class="fa fa-pencil color_success"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-trash-o color_danger"></i>
                </td> 
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/4.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/4.jpg">
                    <span class="avatar-status badge-default"></span>
                  </div>
                </td>
                <td>
                  <div>Enéas Kwadwo</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
                  <i class="fa fa-pencil color_success"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-trash-o color_danger"></i>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/5.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/5.jpg">
                    <span class="avatar-status badge-success"></span>
                  </div>
                </td>
                <td>
                  <div>Agapetus Tadeáš</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
                  <i class="fa fa-pencil color_success"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-trash-o color_danger"></i>
                </td>
              </tr>
              <tr>
                <td class="text-center">
                  <div class="avatar">
                    <img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com" src="assets/img/avatars/6.jpg">
                    <span class="avatar-status badge-danger"></span>
                  </div>
                </td>
                <td>
                  <div>Friderik Dávid</div>
                  <div class="small text-muted">
                    <span>New</span> | Registered: Jan 1, 2015
                  </div>
                </td>
                <td class="text-center" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">
                  <i class="fa fa-pencil color_success"></i>
                </td>
                <td class="text-center">
                    <i class="fa fa-trash-o color_danger"></i>
                </td>
              </tr>
            </tbody>
          </table>

          
        <div id="light" class="white_content">
          <div class="row">
            <div class="col-sm-12">
              <div class="card">
                <div class="card-header">
                  Example Form
                </div>
                <div class="card-block">
                  <form action="" method="post">
                    <div class="form-group">
                      <div class="input-group">
                        <input type="text" id="username2" name="username2" class="form-control" placeholder="Username">
                        <span class="input-group-addon"><i class="fa fa-user"></i></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <input type="email" id="email2" name="email2" class="form-control" placeholder="Email">
                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group">
                        <input type="password" id="password2" name="password2" class="form-control" placeholder="Password">
                        <span class="input-group-addon"><i class="fa fa-asterisk"></i></span>
                      </div>
                    </div>
                    <fieldset class="form-group">
                        <label for="exampleInputFile">Choose File</label>
                        <input type="file" class="form-control-file" id="exampleInputFile">
                    </fieldset>
                    <div class="form-group form-actions">
                      <button type="submit" class="btn btn-sm editPopup_submit">Submit</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <a href = "javascript:void(0)" class="editPopup_close" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">X</a>
        </div>
        <div id="fade" class="black_overlay"></div>